 ../0x01-variables_if_else_while/.0x03-debugging
        ../0x01-variables_if_else_while/0x03-debugging
        ../0x03-debugging/positive_or_negative.c
        ../0x04-more_functions_nested_loops/.101-print_number.c.swn
        ../0x04-more_functions_nested_loops/.101-print_number.c.swo
        ../0x04-more_functions_nested_loops/0-isuper
        ../0x04-more_functions_nested_loops/0-main.c
        ../0x04-more_functions_nested_loops/1-isdigit
        ../0x04-more_functions_nested_loops/1-main.c
        ../0x04-more_functions_nested_loops/10-main.c
        ../0x04-more_functions_nested_loops/10-triangles
        ../0x04-more_functions_nested_loops/100-prime_factor
        ../0x04-more_functions_nested_loops/101-main.c
        ../0x04-more_functions_nested_loops/101-print_numbers
        ../0x04-more_functions_nested_loops/2-main.c
        ../0x04-more_functions_nested_loops/2-mul
        ../0x04-more_functions_nested_loops/3-main.c
        ../0x04-more_functions_nested_loops/3-print_numbers
        ../0x04-more_functions_nested_loops/4-main.c
        ../0x04-more_functions_nested_loops/4-print_most_numbers
        ../0x04-more_functions_nested_loops/5-main.c
        ../0x04-more_functions_nested_loops/5-more_numbers
        ../0x04-more_functions_nested_loops/6-lines
        ../0x04-more_functions_nested_loops/6-main.c
        ../0x04-more_functions_nested_loops/7-diagonals
        ../0x04-more_functions_nested_loops/7-main.c
        ../0x04-more_functions_nested_loops/8-main.c
        ../0x04-more_functions_nested_loops/8-squares
        ../0x04-more_functions_nested_loops/9-fizz_buzz
        ../0x04-more_functions_nested_loops/_putchar.c
        ../0x05-pointers_arrays_strings/.7-puts_half.c.swp
        ../0x05-pointers_arrays_strings/0-98
        ../0x05-pointers_arrays_strings/0-main.c
        ../0x05-pointers_arrays_strings/1-main.c
        ../0x05-pointers_arrays_strings/1-swap
        ../0x05-pointers_arrays_strings/100-atoi
        ../0x05-pointers_arrays_strings/100-main.c
        ../0x05-pointers_arrays_strings/101-keygen
        ../0x05-pointers_arrays_strings/2-main.c
        ../0x05-pointers_arrays_strings/2-strlen
        ../0x05-pointers_arrays_strings/3-main.c
        ../0x05-pointers_arrays_strings/3-puts
        ../0x05-pointers_arrays_strings/4-main.c
        ../0x05-pointers_arrays_strings/4-print_rev
        ../0x05-pointers_arrays_strings/5-main.c
        ../0x05-pointers_arrays_strings/5-rev_string
        ../0x05-pointers_arrays_strings/6-main.c
        ../0x05-pointers_arrays_strings/6-puts2
        ../0x05-pointers_arrays_strings/7-main.c
        ../0x05-pointers_arrays_strings/7-puts_half
        ../0x05-pointers_arrays_strings/8-main.c
        ../0x05-pointers_arrays_strings/8-print_array
        ../0x05-pointers_arrays_strings/9-main.c
        ../0x05-pointers_arrays_strings/9-strcpy
        ../0x05-pointers_arrays_strings/_putchar.c
        ../0x06-pointers_arrays_strings/.100-rot13.c.swo
        ../0x06-pointers_arrays_strings/.103-infinite_add.c.swp
        ../0x06-pointers_arrays_strings/.2-strncpy.c.swo
        ../0x06-pointers_arrays_strings/.7-leet.c.swp
        ../0x06-pointers_arrays_strings/0-main.c
        ../0x06-pointers_arrays_strings/0-strcat
        ../0x06-pointers_arrays_strings/1-main.c
        ../0x06-pointers_arrays_strings/1-strncat
        ../0x06-pointers_arrays_strings/100-main.c
        ../0x06-pointers_arrays_strings/100-rot13
        ../0x06-pointers_arrays_strings/101-main.c
        ../0x06-pointers_arrays_strings/101-print_numbers
        ../0x06-pointers_arrays_strings/103-main.c
        ../0x06-pointers_arrays_strings/104-main.c
        ../0x06-pointers_arrays_strings/104-print_buffer.c
        ../0x06-pointers_arrays_strings/2-main.c
        ../0x06-pointers_arrays_strings/2-strncpy
        ../0x06-pointers_arrays_strings/3-main.c
        ../0x06-pointers_arrays_strings/3-strcmp
        ../0x06-pointers_arrays_strings/4-main.c
        ../0x06-pointers_arrays_strings/4-rev_array
        ../0x06-pointers_arrays_strings/5-main.c
        ../0x06-pointers_arrays_strings/5-string_toupper
        ../0x06-pointers_arrays_strings/6-main.c
        ../0x06-pointers_arrays_strings/7-1337
        ../0x06-pointers_arrays_strings/7-main.c
        ../0x06-pointers_arrays_strings/_putchar.c
        ../0x08-recursion/0-main.c
        ../0x08-recursion/0-puts_recursion
        ../0x08-recursion/1-main.c
        ../0x08-recursion/1-print_rev_recursion
        ../0x08-recursion/100-main.c
        ../0x08-recursion/100-palindrome
        ../0x08-recursion/101-main.c
        ../0x08-recursion/101-wildcmp
        ../0x08-recursion/2-main.c
        ../0x08-recursion/2-strlen_recursion
        ../0x08-recursion/3-factorial
        ../0x08-recursion/3-main.c
        ../0x08-recursion/4-main.c
        ../0x08-recursion/4-pow
        ../0x08-recursion/5-main.c
        ../0x08-recursion/5-sqrt
        ../0x08-recursion/6-main.c
        ../0x08-recursion/6-prime
        ../0x08-recursion/_putchar.c
        ../0x0A-argc_argv/add
        ../0x0A-argc_argv/args
        ../0x0A-argc_argv/change
        ../0x0A-argc_argv/mul
        ../0x0A-argc_argv/mynewnameis
        ../0x0A-argc_argv/nargs
        ../0x0B-malloc_free/101-main.c
        ../0x0C-more_malloc_free/0-main.c
        ../0x0C-more_malloc_free/1-main.c
        ../0x0C-more_malloc_free/1-string_nconcat
        ../0x0C-more_malloc_free/100-main.c
        ../0x0C-more_malloc_free/100-realloc
        ../0x0C-more_malloc_free/101-mul
        ../0x0C-more_malloc_free/2-calloc
        ../0x0C-more_malloc_free/2-main.c
        ../0x0C-more_malloc_free/3-array_range
        ../0x0C-more_malloc_free/3-main.c
        ../0x0C-more_malloc_free/_putchar.c
        ../0x0C-more_malloc_free/a
        ../0x0D-preprocessor/0-main.c
        ../0x0D-preprocessor/02-main.c
        ../0x0D-preprocessor/1-main.c
        ../0x0D-preprocessor/3-main.c
        ../0x0D-preprocessor/4-main.c
        ../0x0D-preprocessor/_putchar.c
        ../0x0D-preprocessor/a
        ../0x0D-preprocessor/b
        ../0x0D-preprocessor/c
        ../0x0D-preprocessor/cc
        ../0x0D-preprocessor/d
        ../0x0D-preprocessor/e
        ../0x0E-structures_typedef/0-main.c
        ../0x0E-structures_typedef/1-main.c
        ../0x0E-structures_typedef/2-main.c
        ../0x0E-structures_typedef/3-main.c
        ../0x0E-structures_typedef/4-main.c
        ../0x0E-structures_typedef/5-main.c
        ../0x0E-structures_typedef/a
        ../0x0E-structures_typedef/b
        ../0x0E-structures_typedef/c
        ../0x0E-structures_typedef/d
        ../0x0E-structures_typedef/e
        ../0x0E-structures_typedef/f
        ../0x0F-function_pointers/0-main.c
        ../0x0F-function_pointers/1-main.c
        ../0x0F-function_pointers/2-main.c
        ../0x0F-function_pointers/a
        ../0x0F-function_pointers/b
        ../0x0F-function_pointers/c
        ../0x0F-function_pointers/calc
        ../0x0F-function_pointers/main
        ../0x10-variadic_functions/0-main.c
        ../0x10-variadic_functions/1-main.c
        ../0x10-variadic_functions/2-main.c
        ../0x10-variadic_functions/3-main.c
        ../0x10-variadic_functions/a
        ../0x10-variadic_functions/b
        ../0x10-variadic_functions/c
        ../0x10-variadic_functions/d
        ../0x12-singly_linked_lists/0-main.c
        ../0x12-singly_linked_lists/1-main.c
        ../0x12-singly_linked_lists/100-main.c
        ../0x12-singly_linked_lists/2-main.c
        ../0x12-singly_linked_lists/3-main.c
        ../0x12-singly_linked_lists/4-main.c
        ../0x12-singly_linked_lists/_putchar.c
        ../0x12-singly_linked_lists/a
        ../0x12-singly_linked_lists/b
        ../0x12-singly_linked_lists/c
        ../0x12-singly_linked_lists/d
        ../0x12-singly_linked_lists/e
        ../0x13-more_singly_linked_lists/m
        0-main.c
        1-main.c
        100-main.c
        2-main.c
        3-main.c
        4-main.c
        5-main.c
        _putchar.c
        a
        b
        c
        crackme3
        d
        e
        f
        h
        run.xt
        start.xt
        ../copy/
        ../printf/
